.body {
  width: 100%;
  height: 100%
}

.centeredJumbotron {
  margin: 0 auto;
  width: 40%;
  background-color: #C0B3A0
}
.img-hundredPercentageImage {
  width: 130%;
  height: 130%
}

.btn-custom {
  background-color: #3F3250;
  color: white;
}

.btn-extraLarge {
  width: 90%;
  height: 100%;
  font-size: 900%
}

h1 {
    font-weight: bold;
    color: #000000;
    font-size: 30px;
    align-content: left;
}

h2 {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
}


h3 {
    font-weight: bold;
    color: #000000;
    font-size: 20px;
}


h4 {
    font-weight: bold;
    color: #00ff00;
    font-size: 30px;
    align-content: left;
}

.octagonMedium {
  width: 50%;
  height: 50%
}
